html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.static{
    position: fixed;    
}

.logo{
    width: 668;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.loader{
    position: fixed;
    -webkit-animation: preloader 1.5s infinite linear;
    -moz-animation: preloader 1.5s infinite linear;
    -ms-animation: preloader 1.5s infinite linear;
    -o-animation: preloader 1.5s infinite linear;
    animation: preloader 1.5s infinite linear;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}
.cs {
    position: relative;
    top: 700;
    width: 250;
    margin-left: auto;
    margin-right: auto;
}
