html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header{
    top: 0;
    position: fixed; 
    padding: 0px 0px 7px 0px;
    width: 100%;
    min-width: 400px;
    background-color: rgba(219, 219, 219, 0.31);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    z-index: 99;
}

footer{
    position: relative;
    margin-left: auto;
    padding-left: auto;
    margin-top: 40px;
    width: 100%;
    color: gray;
    text-align: center;
    bottom: 0;
}

nav{
    float: right;
    margin-top: -23px;
    margin-right: 10px;
    font-size: 16pt;
}

.static{
    position: absolute;    
}

a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
        -webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-ms-filter: blur(1px);
		-o-filter: blur(1px);
		filter: blur(1px);
}

.logo_oilwater{
    position: relative;
    height: 400px;
    width: 400px;
    margin-top: 0px;
}
.loader{
    position: absolute;
    -webkit-animation: preloader 2.5s infinite linear;
    -moz-animation: preloader 2.5s infinite linear;
    -ms-animation: preloader 2.5s infinite linear;
    -o-animation: preloader 2.5s infinite linear;
    animation: preloader 2.5s infinite linear;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}
.cs {
    position: relative;
    top: 700;
    width: 250;
    margin-left: auto;
    margin-right: auto;
}

#name {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20;
}

.block {
    position: relative;    
    align-content: center;
    overflow:hidden;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    width: 100%;
    height: 400px;
}

content {
    position: absolute;
    padding-top: 50px;
    width: 100%;
}

.empty {
    height: 100%;
    position: relative;
     margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}

.proj {
/*    white-space:nowrap;*/
    position: relataive;
    margin-left: auto;
    margin-right: auto;
    width: 810px;
    height: 400px;
}

.left {
    display:inline-block;
    position: relative;
    padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 400px;
    height: 400px;
}

.right {
    display:inline-block;
    position: absolute;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    width: 400px;
    height: 400px;
}

center {
    text-align: center;
    width: 100%;
    
}
